<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="../../styles/css/index.css">

    <title> Detail Product </title>
  </head>
  <body>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand navbar-each-section" 
             href="#"><img src="../../public/assets/logo company-01 2.svg" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-each-section" id="navbarNav">
            <ul class="navbar-nav headings3--regular">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#jumbo">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#Page1">Benefit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#Page2">Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#page3">Category</a>
              </li>
            </ul>
          </div>
          <div class=" navbar-nav ml-lg-auto">
            <a class="nav-link active" href="#Score"><img src="../../public/assets/shopping-cart.svg" alt=""></a>
            <a class="nav-link active" href="#footer"><img src="../../public/assets/profile-icon.svg" alt=""></a>
          </div>
        </div>
      </nav>
      
      <!-- Detail Product -->
      <section id="Detail">
        <div class="detailproduct-page">
          <div class="container-fluid nopadding">
            <div class="row">
              <div class="col-12">
                <div class="detailproduct-page__title">
                  <span class="headings2--bold font-color--orange">
                    Detail Product
                  </span>
                  <br>
                  <span class="headings3--regular">
                    Lorem ipsum dolor sit amet, consectetur adipis
                  </span>
                </div>
                <div class="detailproduct-page__title-description">
                  <p>
                      <a class="headings3--regular link--inactive" href="#">Home</a>
                      /
                      <a class="headings3--regular link--active" href="#">Product Detail</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="row">              
              <!-- Left Side -->
              <div class="col-4">
              <div class="detailproduct-page__image-frame">
                <div class="detailproduct-page__background-gray-square"></div>
                <img src="../../public/assets/detailproduct.svg" alt="">
              </div>
                <div class="row detailproduct-page__pic-collections">
                  <div class="col-4">
                    <div class="detailproduct-page__pic-each-collection">
                      hasemele
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="detailproduct-page__pic-each-collection">
                      hasemele
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="detailproduct-page__pic-each-collection">
                      hasemele
                    </div>
                  </div>
                </div>
            </div>

            <!-- Right Side -->
            <div class="col-8">
              <div class="detailproduct-page__column-right">
                <div class="detailproduct-page__desc">
                  <span class="headings2--bold">
                    Rich Dad Poor Dad
                  </span>
                  <br>
                  <span class="headings3--regular">
                    IDR 100.000
                  </span>
                  <br>
                </div>
                <div>
                  <button id="btn-minus" onclick="reduceQuantity()">-</button>
                  <span id="book-quantity">1</span>
                  <button id="btn-plus" onclick="addQuantity()">+</button>
                </div>
                <span>
                  <a href="#" class="btn btnsubmit--halfsized">Add to Cart</a>
                </span>
                <span>
                  <a href="#" class="btn btnsubmit--halfsized--gray">Add to Wishlist</a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <hr class="detailproduct-page__single-line-horizontal">
      </div>
      </section>

      <!-- Bottom -->
      <div class="navbar-footer">

        <!-- Logo -->
        <div class="navbar-footer__logo">
          <div class="container-fluid nopadding">
            <div class="row">
              <div class="col-4 nopadding">
                <img src="../../public/assets/logo company-01 2.svg" alt="">
              </div>
            </div>
          </div>
        </div>

        <!-- Bottom Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bottom">
          <div class="container-fluid">
            <div class="navbar-footer__desc">
            <span class="headings4--regular">
              All rights reserved by Bali Team Copyrights 2021
            </span>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" navbar-nav ml-lg-auto" id="navbarNav">
             <div class="heading2--regular">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../views/homepage copy.html">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">CATEGORY</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">ABOUT</a>
                </li>
              </ul>
             </div> 
            </div>
          </div>
        </nav>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
  </body>
</html>

<script>
  function reduceQuantity () {
    let currentQuantity = parseInt(document.getElementById("book-quantity").innerHTML);
    currentQuantity === 1 ? 1 : currentQuantity--;
    document.getElementById("book-quantity").innerHTML = currentQuantity;
  }
  function addQuantity () {
    let currentQuantity = parseInt(document.getElementById("book-quantity").innerHTML);
    currentQuantity++; //Untuk penjagaan max quantity harus berdasarkan stok barang tersisa dari API
    document.getElementById("book-quantity").innerHTML = currentQuantity;
  }
</script>