<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="../../styles/css/index.css">

    <title> BiblioSell </title>
  </head>
  <body>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand navbar-each-section" 
             href="#"><img src="../../public/assets/logo company-01 2.svg" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-each-section" id="navbarNav">
            <ul class="navbar-nav headings3--regular">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#jumbo">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#Page1">Benefit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#Page2">Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#page3">Category</a>
              </li>
            </ul>
          </div>
          <div class=" navbar-nav ml-lg-auto">
            <a class="nav-link active" href="#Score"><img src="../../public/assets/shopping-cart.svg" alt=""></a>
            <a class="nav-link active" href="#footer"><img src="../../public/assets/profile-icon.svg" alt=""></a>
          </div>
        </div>
      </nav>

      <!-- Section 1 -->
      <section id="Page1" class="homepage-section1">
        <div class="container-fluid">
          <div class="row">
            <!-- left side -->
            <div class="col-6 nopadding">
              <div class="homepage-section1__title">
                <div class></div>
                <span class="headings1--bold">Read Book</span>
                <br>
                <span class="headings1--bolder font-color--orange">Change your life</span>
                <br>
              </div>
              <div class="homepage-section1__title-description">
                <span class="headings3--regular">
                  Lorem ipsum dolor sit amet, consectetur adipiscing 
                  elit, sed do eiusmod tempor incididunt ut labore et 
                  dolore magna aliqua.
                </span>
                <br>
                <span>
                  <a href="#" class="btn btnsubmit--smallsized">Get Started</a>
                </span>
              </div>
              <div class="homepage-section1__subdescription-frame">
                <div class="homepage-section1__subdescription-content">
                  <span class="headings2--bold font-color--orange"> 
                    300M+
                  </span>
                  <span class="headings3--regular">
                    Transactions
                  </span>
                </div>
                <div class="homepage-section1__subdescription-content">
                  <span class="headings2--bold font-color--orange"> 
                    1000
                  </span>
                  <span class="headings3--regular">
                    Happy Customers
                  </span>
                </div>
                <div class="homepage-section1__subdescription-content">
                  <span class="headings2--bold font-color--orange"> 
                    4.78
                  </span>
                  <span class="headings3--regular">
                    Rating Worldwide
                  </span>
                </div>
              </div>
            </div>
            <!-- right side -->
            <div class="col-6 nopadding">
              <div class="homepage-section1__book-image-frame">
                  <!-- huge orange circle on corner -->
                  <div class="homepage-section1__book-image-circle">
                  </div>
                  <!-- dotted square above -->
                    <div class="homepage-section1__dotted-squares--above">
                      <img src="../../public/assets/dotted-square-above.svg">
                    </div>
                  <!-- Book images -->
                    <div class="homepage-section1__book-image">
                      <img src="../../public/assets/2-Books.svg">
                    </div>
                  <!-- dotted square below -->
                    <div class="homepage-section1__dotted-squares--below">
                      <img src="../../public/assets/dotted-square-below.svg">
                    </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Section 2 -->
      <!-- <section id="intro" class="homepage-section2" > -->
      <section id="Page2">
        <div class="homepage-section2">
        <div class="container-fluid nopadding">
          <div class="row">
            <div class="homepage-section2__title" >
              <span class="headings3--regular font-color--orange">
                Why Choose us ?
              </span>
            </div>
            <div class="homepage-section2__title">
              <span class="headings2--bolder">
                Over 200+ successfull purchasing
              <span> <br>
              <span class="headings2--bolder">
                and still counting
              </span> <br>
              <img src="../../public/assets/Line 13.svg" alt="">
            </div>
          </div>
        </div>
        <div class="container-fluid nopadding">
        <div class="row homepage-section2__cards">
          <div class="col-3 nopadding">
            <div class="homepage-section2__each-card sec2-card">
              <div class="homepage-section2__card-icon-header">
                <div class="homepage-section2__card-icon-square-frame">
                  <img src="../../public/assets/card1-palette-icon.svg" class="card-img-top" alt="...">
                </div>
              </div>
              <div class="homepage-section2__card-description">
                <span class="headings3--semibold">
                  Free Delivery
                </span>
                <p class="headings4--regular">
                  If you order above Rp 100,000, 
                  we will deliver it for free
                </p>
              </div>
            </div>
          </div>
          <div class="col-3 nopadding">
            <div class="homepage-section2__each-card sec2-card">
              <div class="homepage-section2__card-icon-header">
                <div class="homepage-section2__card-icon-square-frame">
                  <img src="../../public/assets/card2-premium-icon.svg" class="card-img-top" alt="...">
                </div>
              </div>
              <div class="homepage-section2__card-description">
                <span class="headings3--semibold">
                  Premium Quality
                </span>
                <p class="headings4--regular">
                  We provide certified top quality 
                  books for your need
                </p>
              </div>
            </div>
          </div>
          <div class="col-3 nopadding">
            <div class="homepage-section2__each-card sec2-card">
              <div class="homepage-section2__card-icon-header">
                <div class="homepage-section2__card-icon-square-frame">
                  <img src="../../public/assets/card3-refund-icon.svg" class="card-img-top" alt="...">
                </div>
              </div>
              <div class="homepage-section2__card-description">
                <span class="headings3--semibold">
                  100% Refund
                </span>
                <p class="headings4--regular">If our book dont meet your 
                  expectation,you can refund it 
                  after 3 days 
                </p>
              </div>
            </div>
          </div>
          <div class="col-3 nopadding">
            <div class="homepage-section2__each-card sec2-card">
              <div class="homepage-section2__card-icon-header">
                <div class="homepage-section2__card-icon-square-frame">
                  <img src="../../public/assets/card4-warranty-icon.svg" class="card-img-top" alt="...">
                </div>
              </div>
              <div class="homepage-section2__card-description">
                <span class="headings3--semibold">
                  Warranty
                </span>
                <p class="headings4--regular">We guarantee our books are very 
                  exclusive for you
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </section>

      <!-- Section 3 -->
      <section id="Page3">
        <div class="homepage-section3">
        <div class="container-fluid nopadding">
          <div class="row">
            <!-- Left Side -->
            <div class="col-6">
              <div class="homepage-section3__column-left">
                <div class="homepage-section3__title">
                  <span class="headings3--regular font-color--orange" >
                    Operation
                  </span>
                  <br>
                  <span class="headings2--bolder">
                    Easy to order
                  </span>
                  <br>
                  <span class="headings2--bold font-color--orange">
                  sit amet, consectetur
                  </span>
                </div>
                  <span class="headings3--regular">
                    Lorem ipsum dolor sit amet, consectetur 
                  </span>
                  <span>
                    <a href="#" class="btn btnsubmit--smallsized">Get Started</a>
                  </span>
              </div>
            </div>

            <!-- Right Side -->
            <div class="col-6 nopadding">
              <div class="homepage-section3__image-frame">
                <div class="homepage-section3__background-logo-circle"></div>
                <img src="../../public/assets/open-doodles-reading-side 1.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </section>

      <!-- Section 4 -->
      <section id="page3">
        <div class="homepage-section4">
        <div class="container-fluid nopadding">
          <div class="row">
            <!-- Left Side -->
            <div class="col-6 nopadding">
              <div class="homepage-section4__image-frame">
                <div class="homepage-section4__background-logo-circle"></div>
                <img src="../../public/assets/open-doodles-sitting-and-reading 1.svg" alt="">
              </div>
            </div>

            <!-- Right Side -->
            <div class="col-6">
              <div class="homepage-section4__column-right">
                <div class="homepage-section4-title">
                  <span class="headings3--regular font-color--orange">
                    Operation
                  </span>
                  <br>
                  <span class="headings2--bolder">
                    Easy to order
                  </span>
                  <br>
                  <span class="headings2--bold font-color--orange">
                    Sit amet, consectetur
                  </span>
                </div>
                <span class="headings3--regular">
                  Lorem ipsum dolor sit amet, consectetur 
                </span>
                <span>
                  <a href="#" class="btn btnsubmit--smallsized">Get Started</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>

      <!-- Section 5 -->
      <section id="Product" class="homepage-section5">
        <div class="homepage-section5__title">
          <div class="container-fluid">
            <div class="row">
              <div class="homepage-section5__title">
                <span class="headings3--regular font-color--orange">
                  Product
                </span>
              </div>
              <div class="homepage-section5__desc">
                <span class="headings2--bold">
                  Meet Our BestSeller
                </span>
                <br>
                <img src="../../public/assets/Line 13.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
  </body>
  <script src="../../public/js/homepage.js"></script>
</html>
